/* navber start */
.button a{
    background-color: #4CAF4F;
    padding: 10px 22px;
    border-radius: 6px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 500;
    border: 1px solid transparent;
    margin-left: 10px;
    display: inline-block;
}
.button a:hover{
    background: transparent;
    color: #4CAF4F;
    border-color: black;
    
}

nav{
    background: #F5F7FA;
    padding: 22px 0px !important;
}
.navbar-nav{
    column-gap: 50px;
    padding-right: 50px;
}
.nav-link{
    font-size: 16px;
    font-weight: 500;
    color: #18191F;
    font-family: "Inter", sans-serif;
    padding-left: 0 !important;
    padding-right: 0 !important;
    transition: .4s;
}
.nav-link:hover{
    color: black;
}
/* navber end */



/* banner start */
.banner{
    background-color: #F5F7FA;
    padding: 161px 0px;

}
.banner h1{
    font-size: 64px;
    color: #4D4D4D;
    font-weight: 600;
    font-family: "Inter", sans-serif;

}
.banner h1 span{
    color: #4CAF4F;
} 
.banner p{
    font-size: 16px;
    color: #717171;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    padding-bottom: 32px;
    padding-top: 16px;
}
.banner-button a{
    background-color: #4CAF4F;
    padding: 14px 32px;
    border-radius: 6px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 500;
    border: 1px solid transparent;
    display: inline-block;

}
.banner-button a:hover{
    background: transparent;
    color: #4CAF4F;
    border-color: black;
    
}



/* banner end*/

/* client part start */

.title h2{
    font-size: 36px;
    font-weight: 600;
    color: #4D4D4D;
}
.title{
    text-align: center;
}
.box{
    display: flex;
    justify-content: space-between;
}
.client{
    padding: 40px 0px;
}

/* client part start */

/* community part start */

.community .title h2{
    width: 542px;
    margin: auto;
}
.community .card{
    width: 100% !important;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 24px;
    padding-bottom: 42px;
    text-align: center;
    border: 0px !important;
    box-shadow: 0 0 10px;
    
}
.community .card img{
    width: 20%;
    margin: 0 auto;

}
.community .card .card-title{
    font-size: 28px;
    color: #4D4D4D;
    font-weight: 900;
    font-family: "Inter", sans-serif;
    padding-top: 16px;
    padding-bottom: 8px;
    width: 300px;


}
.community .card .card-text{
    font-size: 16px;
    color: #4D4D4D;
    font-weight: 400;
    font-family: "Inter", sans-serif;

}
.community .card .card-body{
    padding: 0 !important;
}


/* community part end */


/* service4 part start */

.service .title2{
    text-align: left;
}
.service .row{
    align-items: center;
}
.service .row a{
    background-color: #4CAF4F;
    padding: 10px 22px;
    border-radius: 6px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: white;
    font-weight: 500;
    border: 1px solid transparent;
    margin-left: 10px;
    display: inline-block;
}
.service .row a:hover{
    background: transparent;
    color: #4CAF4F;
    border-color: black
}
.service{
    padding: 48px 0px;
}
.service .row h2{
    width: 600px !important; 
    font-size: 38px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}
.service .row p{
    width: 600px !important;
    font-size: 14px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}
/* service4 part end */


/* helping part star */
.helping{
    padding: 84px 0px;
    background-color: #F5F7FA;
    margin-top: 48px;
}
.helping .row .title2 h2 span{
    color: #4CAF4F;
}
.helping .row h2{
    width: 390px;
    font-size: 36px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    text-align: left;
}
.helping .container {
    text-align: left;
}
.helping .row .box {
   flex-wrap: wrap;
}
.details-part{
    width: 47%;
    height: auto;
    display: flex;
    column-gap: 14px;

}
.helping .details-part h4{
    font-size: 28px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
}
.helping .details-part p{
    font-size: 18px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}


/* helping part star */



/* customer part start */
.customer{
    padding: 32px 0px;
    background-color: #F5F7FA;
}

.customer .container .row p{
    font-size: 18px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #717171;
    padding-top: 16px;
    padding-bottom: 8px;
    width: 828px;
}
.customer .container .row h6{
    font-size: 20px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #4CAF4F;
}
.customer .slider{
    display: flex;
    justify-content: space-between;
}
.customer .slider h4{
    font-size: 20px;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    color: #4CAF4F;
}
.customer .slider h4 i{ 
   margin-left: 8px;
   margin-top: 20px;
}
/* customer part end */